# pip installs
gradio
lingua-language-detector
##xformers<0.0.26
accelerate==0.33
huggingface-hub
jupyter
pandas
tokenizers
#torch==2.3.1+cu121
tqdm
transformers
numpy==1.26.4
# git installs
unsloth[kaggle-new] @ git+https://github.com/unslothai/unsloth.git