accelerate
faiss-cpu
aiohttp
altair
bqplot
datasets
fastapi
filelock
geopandas
geopy
gitpython
gradio
huggingface-hub
ipywidgets
jupyterlab
matplotlib
numpy
opencv-python
pandas
pillow
plotly
protobuf
pyarrow
pyyaml
requests
scikit-learn
scipy
seaborn
spacy
sqlalchemy
torch
torchaudio
torchvision
transformers
uvicorn
folium